@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes drawLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-drawLine {
  animation: drawLine 0.5s forwards;
}

.transition-transform {
  transition: transform 0.3s ease;
}

.translate-y-0 {
  transform: translateY(0);
}

.-translate-y-full {
  transform: translateY(-100%);
}